html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	background-color: #CDB380;
}

.navbar {
	background-color: #033649;
}

.navbar-inverse .navbar-nav>.active>a {
	color: white;
	background-color: #036564;
}

.navbar-inverse .navbar-nav>li>a {
	color: #CDB380;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: white;
	background-color: #031634;
}

.body-wrapper>.container {
	background-color: #E8DDCB;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #036564;
}

p {
	line-height: 1.625em;
}

#profile-pic {
	margin-top: 22px;
}

.separator {
	height: 14px;
	margin: 30px auto 0 auto;
	background: transparent url("../images/separator.png") repeat scroll 0% 0%;
	background-size: 100% 100%;
}

.body-wrapper {
	height: auto !important;
	min-height: 100%;
	margin: 0 auto -120px;
}

.buffer {
	height: 150px;
}

footer {
	display: flex;
	align-items: center;
	height: 120px;
	color: #E8DDCB;
	text-align: center;
	background-color: #033649;
}

footer div {
	margin: auto;
}
footer a {
	color: #CDB380;
}
footer a:hover {
	color: #036564;
}