html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p {
	line-height: 1.625em;
}

#profile-pic {
	margin-top: 22px;
}

.separator {
	height: 14px;
	margin: 30px auto 0 auto;
	background: transparent url("../images/separator.png") repeat scroll 0% 0%;
	background-size: 100% 100%;
}

.body-wrapper {
	height: auto !important;
	min-height: 100%;
	margin: 0 auto -120px;
}

.buffer {
	height: 120px;
}

footer {
	display: flex;
	align-items: center;
	height: 120px;
	color: #999;
	text-align: center;
	background-color: #eee;
	border-top: 1px solid #e5e5e5;
}

footer div {
	margin: auto;
}